{% extends 'base.html.twig' %}
{% block title %}Currency Exchange Chart!{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-18 m-auto">
                <div class="card mt-5">
                    <div class="card-body">
                        {{ render_chart(chart, {'class': 'my-chart', 'style': 'height:40px; width: 200px'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
