{% extends 'base.html.twig' %}
{% block title %} Currency Calculator{% endblock %}
        {% block javascripts %}
            {{ parent() }}
            {{ encore_entry_script_tags('exchange') }}
        {% endblock %}
{% block body %}
    <div class="alert alert-primary" role="alert" hidden>
    </div>
    {% form_theme exchange_form 'bootstrap_5_layout.html.twig' %}
    {{ form_start(exchange_form) }}
    {{ form_end(exchange_form) }}
{% endblock %}
