{% extends 'base.html.twig' %}

{% block title %} Exchange {% endblock %}
{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% endfor %}
    {% form_theme exchange_form 'bootstrap_5_layout.html.twig' %}
    {{ form(exchange_form) }}

{% endblock %}
