div.currency-chart {max-width: 900px;}

select#currency-chart-select {height: 30px;}
input#currency-chart-number-of-days{width: 60px;}

.alert-primary {
    width: 400px;
}
form input[type="text"], input[type="password"] {
    width: 200px;
}

.form-select{
    max-width: 200px;
}


